body {background-color: #DFEBFD;
font-family: "montserrat";}


.weather-app {
    background-color: #fdfdfd;
max-width: 500px;
margin: 100px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
padding: 20px;
}

footer {font-size: small;}

